<%= link_to 'New Comp', new_comp_path %>
<br><br>

<h5>Competitions (<%=@comps.count%>)</h5>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Pairs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comps.each do |comp| %>
      <tr>
        <td><%= comp.formatted_date %></td>
        <td><%= comp.pair_count %></td>
        <td><%= link_to 'Show', comp %></td>
        <td><%= link_to 'Edit', edit_comp_path(comp) %></td>
        <td><%= link_to 'Destroy', comp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
