<p>
  <strong>Date:</strong>
  <%= @comp.formatted_date %>
</p>

<table>
  <tbody>
    <% @rel_pair_comps.each do |rel| %>
      <tr>
        <td><%= rel.pos %></td>
        <td><%= rel.pair.name %></td>
        <td><%= rel.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', comps_path %>
