<%= link_to 'New Result', new_rel_pair_comp_path %>
<br><br>

<h5>Results (<%=@rel_pair_comps.count%>)</h5>

<table>
  <thead>
    <tr>
      <th><%= sortable(column: "Pair", view: "index") %></th>
      <th><%= sortable(column: "Comp", view: "index") %></th>
      <th><%= sortable(column: "Score", view: "index") %></th>
      <th><%= sortable(column: "Position", view: "index") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rel_pair_comps.each do |rel_pair_comp| %>
      <tr>
        <td><%= Pair.find(rel_pair_comp.pair_id).name %></td>
        <td><%= Comp.find(rel_pair_comp.comp_id).formatted_date %></td>
        <td><%= rel_pair_comp.score %></td>
        <td><%= rel_pair_comp.pos %></td>
        <!--td><%#= link_to 'Show', rel_pair_comp %></td>
        <td><%#= link_to 'Edit', edit_rel_pair_comp_path(rel_pair_comp) %></td>
        <td><%#= link_to 'Destroy', rel_pair_comp, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>
