<p>
  <%= @player.full_name %>
</p>

<% @player.pairs.each do |pair| %>
<%= pair.name %>
  <% pair.rel_pair_comps.each do |rel| %>
    <table>
      <tbody>
          <tr>
            <td><%= Comp.find(rel.comp_id).date %></td>
            <td><%= rel.pos %></td>
            <td><%= rel.score %></td>
          </tr>
      </tbody>
    </table>
  <% end %>
<% end %>


<!--%= link_to 'Edit', edit_player_path(@player) %-->
<%= link_to 'Back', players_path %>
